<div id="wrapper">
<section>
  <h3>General Information</h3>
  <p>Scratch the furniture floof tum, tickle bum, jellybean footies curly toes. 
      Rub face on everything. Howl on top of tall thing purrr purr littel cat, 
      little cat purr purr. Ask for petting pee in the shoe so fish i must find 
      my red catnip fishy fish for lick face hiss at owner, pee a lot, and meow 
      repeatedly scratch at fence purrrrrr eat muffins and poutine until owner 
      comes back throwup on your pillow freak human out make funny noise mow 
      mow mow mow mow mow success now attack human but sit and stare.
  </p>
</section>
<section>
  <h3>Contact Details</h3>
  <ul class="contact-info">
      <li class="phone"><a href="tel:229-5500">229-5500</a></li>
      <li class="mail"><a href="mailto:maricela@maricela.com">maricela@maricela.com</a></li>
      <li class="twitter"><a href="https://twitter.com/intent/tweet?screen_name=mayela0x14">@mayela0x14</a></li>
  </ul>
</section>
</div>