<section>
  <ul id="gallery">
    <li>
        <a href="assets/img/wp1.jpg">
            <img src="assets/img/wp1.jpg" alt="">
            <p>Bello paisaje</p>
        </a>
    </li>
    <li>
        <a href="assets/img/wp7.png">
            <img src="assets/img/wp7.png" alt="">
            <p>Hermosa ave</p>
        </a>
    </li>
    <li>
        <a href="assets/img/wp8.jpg">
            <img src="assets/img/wp8.jpg" alt="">
            <p>Interesante textura</p>
        </a>
    </li>
    <li>
        <a href="assets/img/wp9.jpg">
            <img src="assets/img/wp9.jpg" alt="">
            <p>Divertido fondo de pantalla</p>
        </a>
    </li>
  </ul>
</section>